[submodule "EMTE/ImGui"]
	path = EMTE/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "EMTE/DirectXTK12"]
	path = EMTE/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "EMTE/D3D12Raytacing"]
	path = EMTE/D3D12Raytacing
	url = https://github.com/microsoft/DirectX-Graphics-Samples.git
